@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contakts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 9px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contakts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 40px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.2;
  }
  .hero-list__image {
    margin-right: 20px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border: 1px solid orange;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-size: 16px;
  font-weight: 400;
}

.offer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no wrap;
      flex-wrap: no wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding-top: 31px;
}

.offer__slogan1 {
  display: block;
  width: 235px;
  font-size: 15px;
  line-height: 24px;
}

.offer__slogan2 {
  width: 198px;
  font-size: 15px;
}

.offer__slogan2 p {
  margin: 0 0 10px 0;
}

.offer__slogan2 a {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__slogan1 {
    margin-bottom: 18px;
  }
  .offer__button {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
  line-height: 45px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.card__link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.card__link:hover::after {
  height: 10px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, cover;
  background-repeat: repeat-y , no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 94px;
}

.form__description {
  display: block;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 10px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview__list__text {
    font-size: 12px;
    max-width: 280px;
  }
  .interview__list__counter {
    max-width: 25px;
    max-height: 25px;
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    padding-bottom: 40px;
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x , no-repeat;
  }
  .brif__form {
    padding-left: 5px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .brif__interview {
    margin-bottom: 90px;
  }
}

.actions__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: auto;
  max-width: 650px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 59px;
}

.actions__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 69px;
}

.actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.actions__item {
  margin: 0px 31px;
}

.actions__image {
  margin-bottom: 30px;
}

.actions__text {
  display: block;
  font-size: 14px;
  text-align: center;
  max-width: 110px;
}

@media (max-width: 1200px) {
  .actions__item {
    margin-bottom: 30px;
  }
  .actions-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .actions__row {
    height: 0;
    width: 0;
  }
}

@media (max-width: 768px) {
  .actions {
    padding-top: 0;
  }
  .actions__title {
    line-height: 20px;
    margin-top: 0px;
  }
  .actions__item {
    margin-bottom: 29px;
  }
  .actions-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .actions__row {
    height: 0;
    width: 0;
  }
}

.slogan-box {
  height: 280px;
  background-color: #ffc000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan__text {
  display: block;
  width: 900px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
}

@media (max-width: 1200px) {
  .slogan__text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .slogan-box {
    padding: 0 30px;
  }
  .slogan__text {
    font-size: 18px;
    line-height: 25px;
  }
}

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item1 {
  width: 370px;
  height: 410px;
  background-image: url("../img/advantages/item1.jpg");
  margin-right: 20px;
  margin-top: 20px;
}

.advantages__item2 {
  width: 370px;
  height: 410px;
  background-image: url("../img/advantages/item2.jpg");
  margin-right: 20px;
  margin-top: 20px;
}

.advantages__item3 {
  width: 370px;
  height: 410px;
  background-image: url("../img/advantages/item3.png");
  margin-right: 20px;
  margin-top: 20px;
}

.advantages__text {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  max-width: 280px;
}

.advantages__bold {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .advantages-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__item1, .advantages__item2, .advantages__item3 {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .slogan-box {
    padding: 0 30px;
  }
  .slogan__text {
    font-size: 18px;
    line-height: 25px;
  }
  .slogan__item1, .slogan__item2, .slogan__item3 {
    margin: 20px auto;
  }
}

.diploms {
  margin-top: 0;
}

.diploms-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: auto;
  max-width: 650px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 59px;
}

.diploms-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diploms__image {
  display: block;
  margin-bottom: 30px;
}

.diploms__text {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  max-width: 270px;
}

@media (max-width: 1200px) {
  .diploms-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .diploms__item {
    margin: 30px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 91px 0 93px 215px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 23px;
  line-height: 20px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts-list__text a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.contacts-list__text__strong {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .contacts {
    padding-top: 50px;
    padding-left: 100px;
  }
  .contacts__title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
  }
  .map {
    position: relative;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    bottom: 0;
  }
  .contacts {
    padding-left: 0;
  }
  .contacts-block {
    position: relative;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */